*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/dictionaries/keX.xml
carduinodroid-android.vpp~*
.idea/gradle.xml
.idea/modules.xml
.idea/vcs.xml
settings.gradle
