<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tuisse.carduinodroid_android"
    android:versionCode="2.0"
    android:versionName="2.0">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="tuisse.carduinodroid_android.SERIAL_CONNECTION_STATUS_PERMISSION" />
    <uses-permission android:name="tuisse.carduinodroid_android.SERIAL_DATA_RX_RECEIVED_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".CarduinodroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/appNameShort"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StatusActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.ACTION_USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.ACTION_USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".DriveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/titleDriveActivity"
            android:parentActivityName=".StatusActivity"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name=".SerialService"
            android:enabled="true"
            android:exported="true"
            android:permission="true" />
        <service
            android:name=".IpService"
            android:enabled="true"
            android:exported="true"
            android:permission="true" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".StatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tuisse.carduinodroid_android.StatusActivity" />
        </activity>

        <service
            android:name=".WatchdogService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ScreensaverActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".CameraService"
            android:enabled="true"
            android:exported="true"
            android:permission="true" />

    </application>

</manifest>
